.cyan{
    color: rgb(12, 118, 183);    
}
.black{
    color: black;
}
.blue{
    color: rgb(47, 47, 114);
}
.yellow{
    color: rgb(218, 234, 7);
}
.orange{
    color: orange;
}
.red{
    color: red;
}
.blue{
    color: rgb(114, 114, 248);
}
.green{
    color: rgb(176, 249, 66);
}