body{
    margin: 0;
}
.baner{
    display: flex;
    justify-content:center;
    background-color: rgb(37, 72, 72);
   
}

.left-baner p{
    width: 70%;
    text-align: left;
    font-size: 22px;
    position: relative;
    left: 5rem;
}
.left-baner h1{
    width: 70%;
    position: relative;
    left: 5rem;
    font-size: 55px;
}