:root{
    --text : black;
    --border : red;

}
body{
    font-family: "Poppins", sans-serif;
}

.navbar{
   border-bottom: 3px solid var(--border);
}
a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    list-style: none;
    gap: 2rem;
}
.nav-items a{
    padding: 1rem 1.3rem;
}
.nav-items a:hover {
    box-shadow: inset 200px 0 0 0 rgb(0, 0, 0);
    color: white;
    transition: color 0.1s ease-in-out;
}
.download{
    position: relative;
    left: 1rem;
    bottom: 0.2em;
    background-color: black;
    color: white;
    width: 7rem;
    height: 2.5rem;

}
.download:hover{
    color: var(--text);
    background-color: white;
    border: 1px solid var(--text);
    cursor: pointer;
}