

*{
   font-family: "poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root{
    --primary : white;
    --secondary : orangered;
    --border1 : rgb(119, 118, 118);
    --font1 : rgb(29, 19, 19) ;
    --font2 : rgb(0, 0, 0);
}
/* Headings  */
.sectionHead h1{
    color:#2c2b2b;
    font-family: "Poppins", sans-serif;
    display: flex;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
/*  Navbar satrted  */ 


/* Navbar ends */ 

/* hero section started */
.baner{
    display: flex;
    position: relative;
    width: 100vw;
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(255, 250, 246);
    /* border-bottom: 8px solid blanchedalmond; */
    font-family: "Poppins", sans-serif;
}
.left-baner{
    margin-bottom: 10rem;
    margin-left: 6rem;
}
.left-baner h1{
    margin-left: 2vw;
    font-size: 4vw;
}
.left-baner p{
   width: 40vw;
   font-size: 1.25vw ;
   margin-left: 2vw;
}
.socialicons{
    display: flex;
    gap: 1.5vw;
    margin-top: 1vw;
    margin-left: 2vw;
}
.socialicons a{
    text-decoration: none;
}
.sc{
    font-size: 4.5vw;
}
.linkedin{
    color: rgb(62, 62, 255);
}
.whatsapp{
    color: rgb(48, 159, 48);
}
.github, .twitter{
    color: black;
}
.banerImg{
    position: relative;
    z-index: 3;
    width: 35vw;
    top: 0.4rem;
    filter: blur(0.2px);
   }
.circle1{
    position: absolute;
    margin-top: 9rem;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    filter: blur(3rem);
    background-color: var(--secondary);
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes anime {
    from{
        transform: translate(-10%,-10%);
    } 
    to{
        transform: translate(10%,10%);
    }
}
.overlay{
    display: flex;
    align-items: center;    
    background-color: var(--primary);
    width: 100%;
    height: 4vh;
    filter: blur(2px);
    z-index: 11;
    position: relative;
    bottom: 1rem;
}
/* Projects Section Starts */ 
.projcont h2{
    text-align: center;
    font-size: 1.8vw;
    font-weight: 500;
}
.Project{
    width: 100%;
    padding: 6vw 0 4vw 0vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5vw;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    
}
.Projcard{
    display: flex;
    flex-direction: column;
    gap: 1vw;   
}
.imgbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 12vw;
    border:1px solid #1C211A;
    border-radius: 5px;
    overflow: hidden;
}
.po{
    position: absolute;
    width: 23vw;
    height: 12vw;
    background-color: #1c211aba;
    z-index: 998;
    transition: all ease 1s;
}
.imgbox h3{
    font-size: 5vw;
    position: absolute;
    cursor: pointer;
    color: #ADE953;
    z-index: 999;
}
.imgbox img{
    width: 23vw;
    height: 12vw;
    object-fit: cover;
    cursor: pointer;
    z-index: 997;
}

.cardDesc li{
   font-size: 0.9vw;
   margin-left: 0.5vw;
}
.botcard{
    display: flex;
    gap: 1vw;
}
.botcard span{
    font-size: 0.8vw;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.3vw 0.7vw;
    cursor: pointer;
}
.botcard span:hover{
    background-color: #1C211A;
    color: white;
    transition: all ease 0.7s;
}

/* Projects Section ends */ 

/* Experience marquee section starts*/

.mark{
    background-color: #ADE953;
    border-radius: 20px 20px 0 0;
    height: 23vw;
    margin-top: 1vmax;
    white-space: nowrap;
    overflow-x: auto;
    
}
.mark::-webkit-scrollbar{
    display: none;
}
.con{
    margin-top: 1vw;
   white-space: nowrap;
   display: inline-block;
   animation-name: moving;
   animation-duration: 15s;
   animation-timing-function: linear ;
   animation-iteration-count: infinite;
}
 .mark h1{
    color: #1C211A;
    font-size: 12vw;
    font-family: "Poppins", sans-serif;
    display: inline-block;
 }
 .dot{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: var(--secondary);
    display: inline-block;
    margin: 0 2vw;
 }
@media (max-width : 700px) {
    .mark{
        height: 15vw;
        border-radius: 10px 10px 0 0;
    }
    .mark h1{
        font-size: 9vw;
    }
}
 @keyframes moving {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
 }
/* Experience marquee section ends*/

/*----------------------------------------------------------*/ 
/* SKills Sections Starts */
/*----------------------------------------------------------*/ 

.skills{
    position: relative;
    bottom: 20vw;
    height: 90vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    /* background-color: #eadede; */
}
.set{
    text-align: center;
    font-size: 1.8vw;
    font-weight: 500;
}
.skillBox{
    width: 40vw;
    position: relative;
    bottom: 4vw;
    max-height: 20vw;
    flex-wrap: wrap;
    gap: 1vw;
    display: flex;
   
}
.skillcard{
    cursor: pointer;
    width: 9vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2vw;
    border: 2px solid purple;
    background-color: #f7f5f5;
    backdrop-filter: blur(15px);
}
.edu{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.icon{
    font-size: 5vw;
    color: green;
}
.edTitle{
    font-size: 1.5vw;
    font-weight: 600;
}
.edDesc{
    margin-top: 0.2vw;
    display: flex;
    font-size: 1.2vw;
    justify-content: space-between;
}
.edubox{
    padding: 1.5vw 2vw;
    width: 40vw;
    height:fit-content;
    display: flex;
    text-wrap: nowrap;
    border:2px solid #ADE953;
    border-radius: 15px;
    background-color: #eaeee685;
}

.edubox ul{
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    margin-top: 0.4vw;
    padding-left: 2vw;

}
/* SKills Sections Ends */ 

/*education section started */ 



/*education section ends */ 

/*----------------------------------------
 Contact section starts 
 ----------------------------------------*/
.contact{
    padding: 3vw 10vw;
    display: flex;
    height: 150vh;
    background-color: #ADE953;
    border-radius: 2vw 2vw 0 0;
    flex-direction: column;
    /* align-items: center; */
    font-family: "Poppins", sans-serif;
}
.contact h1{
    margin-top: 0.4vw;
    font-size: 6vw;
    color: #2c2b2b;
    font-weight: 900;
    text-wrap: nowrap;

}
.cnbox{
    display: flex;
    justify-content: center;
    gap: 10VW;
}

.cn{
    margin: 0 auto;
}
.contact a{
    position: relative;
    top: 1vw;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 1.8vw;
    border-radius: 22px;
    padding: 0.5vw 2vw;
    margin-left: 2vw;
    max-width: 24vw;
}
.contact a:hover{
    background-color: #1C211A;
    color: white;
}
 .ready{
    /* display: flex; */
    margin-top: 2vw;
    flex-direction: column;
   
    
 }
.cnForm{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    right: 4vw;
}
.cnForm input,textarea,button{
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30vw;
    padding: 1vw 2vw;

}
/*----------------------------------------
 Contacts section ends
 ----------------------------------------*/


/*----------------------------------------
 Footer section starts 
 ----------------------------------------*/
.hg{
    height: 10vh;
    width: 10vw;
}
::-webkit-scrollbar-thumb{
    display: none;
}
 .botF{
    /* border-radius: 4vw 4vw 0 0; */
    background-color: #f6f0f0;
    display: flex;
    height: 45vw;
    justify-content: space-between;
    padding: 0vw 4vw;
    border-radius: 2vw 2vw 0 0;
    align-items: center;
    font-family: "poppins", sans-serif;
    a{
        color:#1C211A;
    }
 }
 .botF h3{
    margin-top: 15vw;
    color: #1C211A;
    line-height: 110%;
    font-size: 3vw;
 }
 .botF p,h4{
    margin-top: 15vw;
     font-size: 1.4vw;
 }


/*----------------------------------------
 Footer section ends
 ----------------------------------------*/


 /*----------------------------------------
 Media Queries starts 
 ----------------------------------------*/
 
/*----------------------------------------
 Media Queries ends
 ----------------------------------------*/