.projectcards{
    position: relative;
    right: 2.5vw;
    width: 45vw;
    height: 15vw;
    padding: 0 2vw;
    align-items: center;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    gap: 2vw;
    overflow: hidden;
    cursor: pointer;
    
}
.sc{
    font-size: 4vw;
}
.cardover{
 z-index: -99;
 left: -100%;
 position:absolute;
 width: 100%;
 height: 100%;
 background-color: rgb(238, 227, 218);
 transition: all ease 0.5s;
}
.projectcards:hover .cardover{
  left: 0;
}

.cardimg img{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 5px;
}
.cardinfo{
    font-family: "Poppins", sans-serif;
}
.cardinfo h1{
    font-size: 1.3vw;
}
.cardinfo h2{
    font-weight: 400;
   font-size: 0.8vw;
}
.cardinfo p{
    font-size: 1vw;
    width: 30vw;
}
.infolink{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.infolink h4,a{
    text-decoration: none;
    color: var(--font2);
    font-size: 1vw;
}
.cardinfo span i{
    margin-left: 1.5vw;
    font-size: 1.5vw;
}

@media (max-width : 700px) {

    .projectcards{
        width: 45vw;
        height: 45vw;
        gap: 1vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardimg img{
        display: none;
    }
    .cardinfo h1{
        text-wrap: wrap;
        font-size: 3vw;
    }
    .cardinfo h2{
       font-weight: 400;
       font-size: 2.5vw;
    }
    .cardNav{
        display: flex;
        gap: 1vw;
        flex-wrap: wrap;
    }
    .cardNav i{
        font-size: 7vw;
    }
    .cardinfo p{
        width: 38vw;
        font-size: 2vw;
        
    }
}